html,
body {
  background-image: url("/__meta/img/stars.gif");
  background-repeat: repeat;
}
h1 {
  background-image: url("/__meta/img/stars.gif");
  background-repeat: repeat-x;
  margin: 0;
  padding: 15px 0;
  color: #000;
  text-shadow: 1px 1px 2px #F5F1EE, -1px 1px 2px #F5F1EE, -1px -1px 2px #F5F1EE, 1px -1px 2px #F5F1EE;
}
.imgs {
  padding: 2px;
}
.imgs .inner {
  cursor: pointer;
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  position: relative;
  float: left;
}
.imgs .inner .img {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2px;
}
.imgs .inner .img img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border: 1px solid;
  object-fit: contain;
  overflow: hidden;
}
.imgs .inner .img .file-icon {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  fill: rgba(1, 0, 0, 0.56);
}
.imgs .inner .img .video-icon {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  fill: rgba(0, 0, 0, 0.56);
}
.imgs .inner h3 {
  position: absolute;
  background: rgba(0, 0, 0, 0.27);
  color: white;
  left: 2px;
  right: 2px;
  bottom: 2px;
  margin: 0;
  padding: 12px;
  font-size: 12pt;
}
@media (min-width: 420px) {
  .imgs .inner {
    max-width: 33.333333%;
    padding-bottom: 33.333333%;
  }
}
@media (min-width: 768px) {
  .imgs .inner {
    max-width: 25%;
    padding-bottom: 25%;
  }
}
@media (min-width: 992px) {
  .imgs .inner {
    max-width: 20%;
    padding-bottom: 20%;
  }
}
@media (min-width: 1200px) {
  .imgs .inner {
    max-width: 16.66666666%;
    padding-bottom: 16.66666666%;
  }
}
@media (min-width: 1600px) {
  .imgs .inner {
    max-width: 8.33333333%;
    padding-bottom: 8.3333333%;
  }
}
.col-lg-2 {
  padding: 3px;
}
